@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  @apply bg-slate-950 text-slate-50 antialiased;
}

a {
  @apply text-sky-300 hover:text-sky-200;
}
